@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.titulo-destaque {
  color: #22D4FD;
}

.apresentacao {
  margin: 10% 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao img {
  width: 450px; 
  height: auto; 
  border-radius: 50px; 
}

.apresentacao_conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao_conteudo_titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.apresentacao_conteudo_texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  font-weight: 300;
  line-height: 36px;
}

.apresentacao_links {
  display: flex;
  justify-content: space-between;
}

.apresentacao_links_link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #22D4FD;
  color: black;
  padding: 21.5px 0;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  text-decoration: none;
}