@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: black;
  color: white;
} 

.cabecalho {
  padding: 2% 0 0 15%;
}

.cabecalho_menu {
  display: flex;
  gap: 80px;
}

.cabecalho_menu_link {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #22D4FD;
  text-decoration: none;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao img {
  width: 450px; 
  height: auto; 
  border-radius: 50px; 
  border: solid;
  border-color: #22D4FD;
}

.apresentacao_conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao_conteudo_titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.titulo-destaque {
  color: #22D4FD;
}

.apresentacao_conteudo_texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  font-weight: 300;
  line-height: 36px;
}

.apresentacao_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao_links_subtitulo {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.apresentacao_links_link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #22D4FD;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #f6f6f6;
  padding: 21.5px 0;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
}

.apresentacao_links_link:hover {
  background-color: #272727;
}

.apresentacao_links_link .fa-brands {
  color: #22D4FD;
  font-size: 27px;
  font-weight: 300;
}

.rodape {
  padding: 24px;
  color: #000000;
  background-color: #22D4FD;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
